@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

$font-family:  "Sen", sans-serif;;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap');
$font-family2:"Poppins", sans-serif;

$main-color: #C98A40;
h1{
    font-family: $font-family;
    color: $main-color;
    font-size: 100px;
    font-weight: 800;
}
.card {
    border: 1px solid #FFD8AB
}
.card-title{
    font-family: $font-family2;
    font-size: 16px;
    color: #C98A40;
}
.card-text{
    font-family: $font-family2;
    font-size: 14px;
    color:  #333333;
    ;
}