
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

$font-family:  "Sen", sans-serif;;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap');
$font-family2:"Poppins", sans-serif;

.titel2{
    font-family: $font-family;
    color:#FFFFFF;
    font-size: 130px;
    font-weight: 800;
    width:60%;
    
  

  }
 
  .caption{
    font-family: $font-family2;
font-size: 10px;
// width: 277px;
height:100px !important;

color:  #FFFFFF;
;
 }