
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 class="text-center p-3">
            Contact us
        </h1>
        <div class="row">
           <div class="col-md-6">
             <form  [formGroup]="regesterform" (ngSubmit)="handelbtn()" class="rounded-5  w-75 mx-auto bg-light-main p-3">
    
            <div class="form-item">
                
                <input formControlName="name" class="form-control bg-main rounded-5" type="text" id="name" placeholder="full name">
            </div>
            <div class="form-item">
                
                <input formControlName="email" class="form-control bg-main rounded-5  " type="email" id="email" placeholder="email">
            </div>
          
        
            <div class="form-item">

                <input formControlName="phone" class="form-control bg-main rounded-5" type="tel" id="phone" placeholder="phone">
              
            
            </div>
           
        <div class="d-flex justify-content-center">
            <button  type="submit" class="btn  m-1 send-btn"> send</button>
        </div>
        </form>
    </div>
    <div class="col-md-6">

        <p class="cont ">  <img src="./assets/images/ic_round-mail.png" >  upskilling.eg1@gmail.com</p>
        <p class="cont"><img src="./assets/images/ic_round-call.png">+20 115 493 2137</p>
    </div>
        </div>
        
        

    </div>
    <div class="col-md-3"></div>
    
</div>
<div class="row">
    <div class="col-md-12 footer "></div>
</div>









