.send-btn{
    background-color: transparent;
    border-color: #C98A40;
    border-radius: 40%;
    padding-left: 10px;
}
.cont{
    font-size: 10px;
}
$main-color: #C98A40;
h1{
    color: $main-color;
    font-size: 100px;
    font-weight: 800;
}
.footer{
    background-color:rgb(97, 36, 36);
    height: 100px;
   margin-top: 70px;
}
