<section class="bg-main  w-100 h-auto" >
<div  class="container">
    <div class="text"> <p  class="text-center pt-4 ">Peachy Pup Bakery</p>
    </div>

    <div class="row  mt-5  ">
    <div class="col-md-6 ">
        <h1 class=" p-0">Tasty pastries</h1>
    <p class="p2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
    </p>
<button class="btn btn-yollow">see more  </button>
<div class="icons m-0">

  <p class="p-1"> <i class="fab fa-facebook"></i></p> 
   <p class="p-1"> <i class="fab fa-instagram"></i></p>
   <p class="p-1"> <i class="fab fa-whatsapp"></i></p>
   <p class="p-1"> <i class="fab fa-linkedin"></i></p>
 
</div>
</div>
    <div class="col-md-6">
        <img src="./assets/images/bread.png" >
    </div>
    </div>
</div>


</section>
