
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

$font-family:  "Sen", sans-serif;;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap');
$font-family2:"Poppins", sans-serif;
$whit-color:#FFFFFF;
.text{
width: 248px;
height: 68px;
top: 26px;
font-family:$font-family;
font-weight: 700;
font-size: 28px;
color:#FFFFFF;
margin-bottom: 100px
;
}

img{
    width: 100%;
}
.col-md-6 h1 {
    display: inline;
    font-family:$font-family;  
    font-weight: 700;
     font-size:74px;
     color:#FFFFFF;
     height: 80px;
    
}
.p2{
    font-family: $font-family2;
    color: $whit-color;
    font-size: 18px;
}
// .btn-yollow{
//     background-color: yellow;
//     border-radius: 30%;
//     padding: 10px;
// }
// .icons{
//     width:449px;
// height:201px;
// top:639px;
// opacity:40%;
// margin-top: 20px;
// color: red;

// }
.icons{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color:  #C98A40;
    font-size:10px ;
    background-color:white;

   
  }
  
  .icons p {
    margin: 10px 0; /* Adjust vertical spacing between icons if needed */
  }
  