
    <section class="testi ">
        <p class="tit">  Testymonials</p>
  <div class="w-100    d-flex justify-content-center  align-items-center">
  
            <div class="row ">
                <div class="col-md-6">
                    <div class="card rounded-5 m-2 " style="width: 18rem; height:9rem;">
                    <div class="card-body">
                      <h5 class="card-title">Kathryn Murphy</h5>
                     
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                   <div class="sora">
                      <img  src="./assets/images/Group 30 (1).png" alt="123" class="small p-0 ">
                    </div>
                </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card rounded-5  m-2" style="width: 18rem; height: 9rem;">
                    <div class="card-body">
                      <h5 class="card-title">Kathryn Murphy</h5>
                     
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                      <div class="sora">
                        <img  src="./assets/images/Group 30 (1).png" alt="123" class="small p-0 ">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
         </div> 
         <div class="row m-4  ">
            <div class="col-md-6"><div class="card rounded-5  m-2 " style="width: 18rem; height: 9rem;">
                <div class="card-body">
                  <h5 class="card-title">Kathryn Murphy</h5>
                 
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                  <div class="sora">
                    <img  src="./assets/images/Group 30 (1).png" alt="123" class="small p-0 ">
                  </div>
                </div>
              </div>
              <div class="col-md-6"><div class="card rounded-5 m-2  " style="width: 18rem; height: 9rem;">
                <div class="card-body">
                  <h5 class="card-title">Kathryn Murphy</h5>
                 
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                  <div class="sora">
                    <img  src="./assets/images/Group 30 (1).png" alt="123" class="small p-0 ">
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
         </div>
         <div class="d-flex justify-content-center">
            <button class="btn btn-yollow m-1">Contact Us</button>
        </div>
    </section>
