// .testi{
//     background:linear-gradient(#c9894069,#c9894069)
//     height: 100vh;
    
// }
/* src/styles.css */
.testi{
    margin: 0;
    height: 100vh;
    background-color:#C98A40 ;
    background-size: cover;
    background-position: center;
    scrollbar-width: none;
    
  }
  .card p{
    font-size: 8px;
    color:#C98A40;
  }
  .tit{
    text-align: center;
    color: azure;
font-size: 80px;

  }
